
body{
    background-color: rgb(223, 223, 223);
}

header{
    background-image: url("/img/silver.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
}

.hero{
    margin:0 auto;
    overflow: hidden;
    padding: 10px 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

.card {
    max-width: 850px;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    border-radius: 8px;
}

table {
    table-layout:fixed;
    width: 90%;
}

td {
    width: 25%;
}

table.center{
    margin-left:auto; 
    margin-right:auto;
}

table.cell-mod{
    background-color: thistle;
}

.center{
    /* position: relative; 
    left: 30px; */
    margin: 0 auto;
    flex:0%;
    display: table;
    width: 96%;
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

@import url('https://cdn.rawgit.com/lonekorean/gist-syntax-themes/848d6580/stylesheets/monokai.css');

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
script {
  margin: 20px;
  font: 16px 'Open Sans', sans-serif;
}

.geometry{
    max-width: 70%;
}

